<!DOCTYPE html>
<html lang="en">
    <script type="text/javascript">
        function Redirect()
        {
            window.location="/results?hash={{hash}}";
        }
    setTimeout('Redirect()', 15000);
    </script>
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
            rel="stylesheet">
            </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Is it a bird?</h1>
            </div>
            <hr/>
            <div>
                <img src="/static/spinner.gif" alt="" style="width:64px;height:64px;">
                <h3>Processing, should be about 15 seconds...</h3>
            </div>
        </div>
    </body>
</html>

